@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

nav a {
  text-decoration: none;
  color: #b0b0b0;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    text-decoration: none;
    background-color: #121d2f;
    outline: solid 2px #4493f8;
  }
}

.modalConfirm {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  background: #0000007b;
  width: 100vw;
  height: 100vh;
}